#blogAuthorContainer {
  .blog-author {
    width: 40px;
    height: 40px;
  }

  .bio {
    color: #000;
    font-size: 13px;
    margin-top: 10px !important;
  }

  .author {
    margin-left: 10px;
  }

  .authorFirstName {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #dadada !important;
  }

  .authorUserName {
    font-size: 12px;
    line-height: 14px;
  }

  .postTime {
    font-size: 12px;
    line-height: 14px;
  }

  .authorDetails:hover {
    cursor: pointer;
  }

  .slash {
    height: 50px;
  }

  #authorDetails {
    cursor: pointer;

    .authorFirstName {
      color: #000 !important;
    }

    &:hover .authorFirstName {
      text-decoration: underline;
      color: #f91880 !important;
    }
  }
}

#userInfo {
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 270px;
  pointer-events: auto;
  background: #ffd1c5;
  background-clip: padding-box;
  margin-top: 222px;
  border: 1px solid #ffd1c5;
  border-radius: 20px;
  //box-shadow: 0px 0px 7px rgb(216, 215, 215);

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background: #f9ead7;
    background-clip: padding-box;
    border: 1px solid #ffd1c5;
    border-radius: 20px;
  }

  .modal-body {
    padding-bottom: 0;
  }

  .modal-btn {
    border-radius: 20px;
    border: 1px solid rgb(216, 215, 215) !important;
    color: black;
    background-color: transparent;
    height: 30px;
  }

  .modal-btn:hover {
    background-color: antiquewhite;
  }

  .modal-btn:focus {
    box-shadow: none;
  }

  .modal-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0;
  }

  .roundpic {
    border-radius: 50%;
  }

  .userDetails {
    margin-top: 5px;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    font-style: bold;
  }

  .userUserName {
    font-size: 14px;
  }

  .form1 {
    margin-bottom: 0;
  }

  .userInfoContainer {
    padding: 15px 15px !important;
  }

  .followers-user-info {
    cursor: pointer;
    color: #000;
    font-size: 13px;

    &:hover {
      text-decoration: underline;
      color: #f91880;
    }
  }

  #userDetails {
    &:hover .userDetails {
      text-decoration: underline;
      color: #f91880 !important;
    }
  }

  //
  .followbtn {
    border-radius: 20px;
    border: 1px solid grey;
    color: black;
    background-color: white;
    box-shadow: 5px 5px 1px black;
  }

  .followbtn:hover {
    border-radius: 20px;
    color: black;
    background-color: #dadada;
  }

  .followbtn:active {
    outline: none;
    box-shadow: 5px 5px 1px black;
  }

  .followbtn:focus {
    outline: none;
    box-shadow: 5px 5px 1px black;
  }

  .followbtn:focus-visible {
    outline: none;
    box-shadow: none;
  }

  .nowfollowing {
    border-radius: 20px !important;
    background-color: #f91880 !important;
    border: 1px solid #f91880 !important;
    box-shadow: -5px 5px 1px black !important;
  }

  .nowfollowing:active {
    outline: none;
    box-shadow: 5px 5px 1px black;
  }

  .nowfollowing:focus {
    outline: none;
    box-shadow: 5px 5px 1px black;
  }

  .nowfollowing:focus-visible {
    outline: none;
    box-shadow: none;
  }
}
