.blog-navbar-brand {
  width: 30px;
  border-radius: 50px;
}

.customCursor {
  cursor: pointer;
}

.customDD {
  padding: 0 20px;
}

.blog-navbar {
  margin-top: 10px;
  padding: 90px 10px;
  transition: 0.4s;
  width: 80%;
  transition: 0.4s;
  position: fixed;
  background: #ffd1c5;
  color: white;
  border: none;
  border-radius: 50px;
  left: 50%;
  transform: translateX(-50%);

  &.scroll {
    background: #f9c6b9d2;
    margin-top: 25px;
    width: 80%;
    transition: 0.4s;
    outline: 0.5px solid #ffd1c5;
    border-radius: 50px;
  }
}

.blog-navbar-not-home {
  @extend .blog-navbar;
  border-bottom: 1px solid #f9ead7 !important;
  border-radius: 0;
  width: 100%;
  padding: 20px 10px;
}

.customLinks {
  background-color: transparent;
  color: black;
  border-radius: 20px;
  padding: 10px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #f91880;
  }
}

.newBlogPost {
  border: none;
  color: white;
  background-color: #f91880;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120px;
  text-decoration: none;
  box-shadow: -5px 5px 1px black;

  &:hover {
    background-color: #e41575 !important;
    box-shadow: none;
  }

  &:focus {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    background-color: #e41575 !important;
  }

  &:focus-visible {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    background-color: #e41575 !important;
  }

  &:active {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    background-color: #e41575 !important;
  }
}

.avatar {
  margin-top: -9 px !important;
  margin-left: -13 px !important;
}

.dropdown-menu {
  border-radius: 20px !important;
  padding: 18px !important;
  position: absolute !important;
  inset: 0px 0px auto auto !important;
  margin: 0px !important;
  transform: translate3d(95px, 65px, 0px) !important;
  width: 174px;
  border: 0.5px solid #242249 !important;
  background: #f9ead7;
  border: 1px solid #ffd1c5 !important;
}

.animate-dropdown-menu {
  @extend .dropdown-menu;
}

.navspan {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  //color: #dadada;
}

.signup {
  flex-direction: row;
  justify-content: flex-end !important;
}

.navToggle {
  width: 30px;
  height: 30px;
  font-size: 10px;
  position: absolute;
  margin-top: 0px;
  padding-bottom: 20px;
  background-color: transparent;
  border-radius: 50px;
  border: none;
}

.comNav {
  justify-content: center !important;
}

.messages {
  flex-direction: column;
  align-items: center;
}

.navToggle:hover {
  background-color: rgb(216, 216, 216);
}

.deleteBlog {
  background-color: transparent;
  color: black;
  border-radius: 20px;
}

.deleteBlog:hover {
  cursor: pointer;
}
